<h1>Longest Word Game</h1>

<div class="d-flex flex-row justify-content-center">
  <% @letters.each do |letter| %>
    <div class="bg-primary letter m-3 p-3"><%= letter %></div>
  <% end %>
</div>
<div class="row justify-content-center my-3">
  <div class="col-6">
      <form action="/score" method="POST" data-turbo="false">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <%= hidden_field_tag :letters, @letters %>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Your word" name="word">
        </div>
        <div class="col">
          <input type="submit" class="btn btn-primary" value="Play">
        </div>
      </div>
    </form>
  </div>
</div>
